
<h3>{{user}}</h3>

<div class="row">
    <div class="col-3">
        <p>The boolean <b>isNotAvaliable</b> has a value of {{isNotAvaliable.valueOf()}}</p>
    </div>
    <div class="col-3">
        <ol>
            @for(rol of roles; track rol){
                <li>{{rol}}</li>
            }
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>{{user}}</p>
    </div>
    <div class="col-3">
        <input type="text" [value]="roles[1]" class="form-control"/> 
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="user">
    </div>
    <div class="col-3">

    </div>
</div>

@if(isNotAvaliable){
    <button type="button" class="btn btn-secondary" [disabled]="isNotAvaliable">Hide</button>
}
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-primary">Show</button> 

<div class="col-3" style="display: grid; justify-content: center; align-items: center; margin: auto;">
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>
</div>

<div class="row-3" style="display: flex; margin: 5em; padding: 1em;">
    <div class="col-3">
        <button type="button" class="btn btn-success" (click)="showAlert( )">Admin</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-info" (click)="showMessage('HOLAAAA MUNDO')">Hola</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-warning" (click)="showUserName()">Show User</button>
    </div>
</div>



